<h1 data-role="header-title">Client</h1>
<section id="app"></section>
<script type="module" src={Routes.static_path(@conn, "/assets/client/main.js")}></script>
<link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/client/main.css")}/>
